@import "tailwindcss";
* {
  scroll-behavior: smooth;
}

/* html {
  @apply md:w-full max-w-[100%];
} */

body {
  font-family: "Satoshi", sans-serif;
}

@theme {
  --color-primary-red: #ed3c52;
  --color-secondary-red: #fde9ec;
  --color-secondary-black: #565656;
  --color-placeholder-gray: #c4c4c4;
  --color-primary-black: #1e0306;
  --color-primary-white: #fde9ec;
}
.Loader {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-box {
  background: linear-gradient(to bottom, transparent, #1e0306);
}
/* styles.css */
.paragraph {
  @apply font-medium text-secondary-black text-[12px] md:text-sm;
}
.inputs {
  @apply md:rounded-none rounded-tr-[20px] rounded-bl-[20px] rounded-tl-[20px];
}
@layer utilities {
  /* Hide arrows in number inputs (Chrome, Safari, Edge) */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  /* Hide arrows in number inputs (Firefox) */
  input[type="number"] {
    @apply appearance-none;
    -moz-appearance: textfield;
  }
}

ul > li {
  @apply hover:text-primary-red cursor-pointer;
}

.container label {
  color: var(--Black, #1e0306);
  font-family: "Satoshi", sans-serif;
  padding-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.container div {
  @apply w-full flex gap-0 flex-col text-left;
}
.support-container h1 {
  @apply font-black text-primary-black text-3xl;
}
.support-container p {
  @apply text-secondary-black text-sm font-medium;
}
.blog-h1 {
 @apply text-[#1e0306] text-2xl md:text-[50px] font-black capitalize;
}
.blog-span {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  aspect-ratio: 1/1;
  border-radius: 30px;
  background: var(--White, #fff);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.box-shadow {
  box-shadow: 0 6px 55px 10px rgba(0, 0, 0, 0.06);
}
.box-shadow-lg {
  @apply md:shadow-none shadow-[1px_-1px_40px_5px_rgba(0,0,0,0.12)];
}

.glass-header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: black;
}
.inputs1 {
  border-radius: 20px 20px 20px 0;
}
